@import url(https://fonts.googleapis.com/css?family=Anton);
.title{
  float:left;  
  text-shadow:1px 1px 2px green;
  color:lime;
  width:40%;
} 
h1{
  font-size: 40px;
}
.title{
  margin-top: -30px;
  float:left;
  text-shadow:1px 1px 100px white;
  width: 35%;
  color:#000;
}
#score{
  text-align: center;
  float:right;
  text-shadow:1px 1px 100px white;
  width: 40%;
  color:#000;
  font-size-adjust: 30px; 
}
.score-count{
  font-size: 90px;
}
body{
  font-family: 'Anton', sans-serif;
  color:green;
  cursor:url(http://cur.cursors-4u.net/user/use-1/use153.cur), auto;
  background-image: url(back2.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}
#counter{
  font-size: 100px;
}
#board{
  clear:both;
  padding-top:20px;
  margin: 10px;
  height: 600px;
  width: 900px;
}  
#quit {
  clear:both;
  padding-top:20px;
  margin: 10px;
  height: 600px;
  width: 900px;
  border:solid;
  font-size: 40px;
  color:red;
  font-weight: bold;
}
.random{
  border:solid 15px;
  border-color:red;
  border-radius: 50%;
  width: 80px;
  height:80px;
  position:fixed;
} 
#side{
  float: right;
  background-color: black;
  width:20%;
  margin-top: -500px;
}
#footer{
  text-align: center;
  margin: 20px;
}
.button{
  color:#000;
  border:2px solid #000;
  box-shadow:1px 1px 3px #000;
  border-radius:5px;
  padding:0px 10px;
  transition: all 0.2s ease;
  background-color:green;
  margin: 50px;
}
.button:active{
  box-shadow:1px 1px 3px #000 inset;
}
#win span{ 
  background-color: red;
  color:white;
  font-size: 90px;
}
#looser span{
  background-color: red;
  color:white;
  font-size: 30px;
}
span{
  color: white;
  size:50px;
}

